AWS_REGION=ap-south-1
S3_BUCKET=gatherly-data-shreyas-2
API_GATEWAY_URL=https://YOUR-ID.execute-api.ap-south-1.amazonaws.com/prod
N8N_WEBHOOK_INVITATIONS=https://gatherly-n8n.onrender.com/webhook/send-invitations
N8N_WEBHOOK_REMINDERS=https://gatherly-n8n.onrender.com/webhook/send-reminders
N8N_WEBHOOK_SLOTS_FULL=https://gatherly-n8n.onrender.com/webhook/slots-full
N8N_WEBHOOK_CONFIRMED=https://gatherly-n8n.onrender.com/webhook/handle-confirmation
NEXT_PUBLIC_API_URL=https://YOUR-ID.execute-api.ap-south-1.amazonaws.com/prod
